# These packages are to be installed with conda or pip, with the following command:
# pip install -r requirements.txt

# To build the package
setuptools
wheel
twine

# To build documentation
furo
sphinx
sphinx-design
sphinx-inline-tabs
sphinx-copybutton
sphinx-subfigure
sphinx-automodapi
numpydoc
nbsphinx
ipython

# To build the package
build
pip

# To run API
scipy
numpy

# To run tests or examples
folium
pandas
shapely
simplekml